---
- name: Download, Install and configure vector
  tags: vector
  block:
    - name: Download and Install vector
      block:
        - name: Get vector distrib
          become: yes
          ansible.builtin.get_url:
            url: "https://github.com/vectordotdev/vector/releases/download/v0.51.1/vector-{{ vector_version }}.x86_64.rpm"
            dest: "./vector-{{ vector_version }}.rpm"
            mode: '0644'
            validate_certs: false
            timeout: 100
          register: download_result
          until: download_result is succeeded
          retries: 3
          delay: 20
        - name: Install vector
          become: yes
          ansible.builtin.yum:
            name:
              - vector-{{ vector_version }}.rpm
            disable_gpg_check: true
          notify: Start (restart) vector service
        - name: Flush handlers
          ansible.builtin.meta: flush_handlers
    - name: Create Vector config directory
      become: yes
      ansible.builtin.file:
        path: /etc/vector
        state: directory
        mode: '0755'
    - name: Deploy Vector configuration
      become: yes
      ansible.builtin.template:
        src: vector.yaml.j2
        dest: /etc/vector/vector.yaml
        mode: '0644'
      notify: Start (restart) vector service
    - name: Ensure Vector is running
      become: yes
      ansible.builtin.service:
        name: vector
        state: started
        enabled: true
